@page
@model App.UI.Pages.Admin.IndexModel
@{
    Layout = "/Pages/Shared/DashboardLayout.cshtml";
}
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <a href="/Travaler/Display">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-purple">Travelers</h4>
                            <h6 class="text-muted m-b-0">All Travelers Details</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-bus f-28"></i>

                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-purple">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0"></p>
                        </div>
                        <div class="col-3 text-right">

                        </div>
                    </div>

                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <a href="/Post/WaitingPosts">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-green">Waiting Posts</h4>
                            <h6 class="text-muted m-b-0">Posts require approval</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-file-text-o f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-green">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0"></p>
                        </div>
                        <div class="col-3 text-right">

                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <a href="/Post/WallPage">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-red">Wall Page</h4>
                            <h6 class="text-muted m-b-0">All Posts</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-calendar-check-o f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-red">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0"></p>
                        </div>
                        <div class="col-3 text-right">

                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <a href="/Agency/Display">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-blue">Agency</h4>
                            <h6 class="text-muted m-b-0">All Agency Details</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa  fa-money f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-blue">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0"></p>
                        </div>
                        <div class="col-3 text-right">

                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>