@page
@model App.UI.Pages.Admin.IndexModel
@{
    Layout = "/Pages/Shared/DashboardLayout.cshtml";
}
<div class="row">
    <div class="col-xl-4 col-md-4">
        <div class="card">
            <a href="/product/list">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-red">Product</h4>
                            <h6 class="text-muted m-b-0">Show Product Detials</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-dollar f-28"></i>

                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-red">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0"></p>
                        </div>
                        <div class="col-3 text-right">

                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-4 col-md-4">
        <div class="card">
            <a href="/category/list">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-green">Categories</h4>
                            <h6 class="text-muted m-b-0">Show All Categories</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-database f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-green">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0"></p>
                        </div>
                        <div class="col-3 text-right">

                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-4 col-md-4">
        <div class="card">
            <a href="/article/list">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="text-c-blue">Articals</h4>
                            <h6 class="text-muted m-b-0">All Articals Details</h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-file-text-o f-28"></i>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-c-blue">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <p class="text-white m-b-0"></p>
                        </div>
                        <div class="col-3 text-right">

                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>